extends layout

block content
    div.container
        div#field.field
        div.row
            div.span3
                h3.page-header Positions
                select#positions(multiple="multiple", size=15)
                button#create.btn.btn-success.btn-large Create position
            div.span5
                h3.page-header Current position
                form#current-position.form-horizontal
                    div.control-group
                        label.control-label Name:
                        div.controls
                            input#position-name(name="position-name", type="text", placeholder="position name...")
                    //- br
                    - for (var i = 0; i < 6; i++) {
                        div.control-group
                            label.control-label #{i + 1}:
                            div.controls
                                input.input-small(id="player-at-#{i + 1}", name="player-at-#{i + 1}", type="text", placeholder="player name...")
                                select.roles.input-medium(id="role-at-#{i + 1}", name="role-at-#{i + 1}")
                    - }
                    div.form-actions
                        button#save.btn.btn-primary(type="button") Save
                        | &nbsp;
                        button#delete.btn.btn-danger(type="button") Delete
            div.span4
                h3.page-header Lorem ipsum
